[MESSAGES CONTROL]
disable=missing-function-docstring,missing-class-docstring,missing-module-docstring

[MASTER]
init-hook=init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))