[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
selenium = "*"
webdriver-manager = "*"
yt-dlp = "*"
chromedriver-autoinstaller = "*"
browser-cookie3 = "*"
av = "*"
numba = "*"
cython = "*"
typer = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.9"

[packages.rich]
extras = [ "all",]
