[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = "*"
pyaescrypt = "*"
opencv-python = "*"
par2deep = "*"
selenium = "*"
webdriver-manager = "*"
pytest = "*"
yt-dlp = "*"
chromedriver-autoinstaller = "*"
browser-cookie3 = "*"
ffmpeg-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
